@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .first-custom-gradient {
    background: radial-gradient(
        140.76% 131.96% at 100% 100%,
        rgb(109, 59, 227) 0%,
        rgba(74, 42, 150, 0.5) 73.57%,
        rgba(74, 42, 150, 0) 100%
      ),
      rgb(29, 82, 157);
  }
  .second-custom-gradient {
    background: radial-gradient(
        140.76% 131.96% at 100% 100%,
        rgb(176, 56, 220) 0%,
        rgba(74, 42, 150, 0.5) 73.57%,
        rgba(74, 42, 150, 0) 100%
      ),
      rgb(29, 82, 157);
  }
  .third-custom-gradient {
    background: radial-gradient(
        140.76% 131.96% at 100% 100%,
        rgb(229, 9, 20) 0%,
        rgba(74, 42, 150, 0.5) 73.57%,
        rgba(74, 42, 150, 0) 100%
      ),
      rgb(29, 82, 157);
  }

  .transparent-check-icon path {
    fill: none; /* Makes the checkmark transparent */
    stroke: white; /* Sets the stroke (outline) color to white */
    stroke-width: 2px; /* Adjust the stroke width as needed */
  }
}
